$border-style: 1px solid #ECECEC;

body {
    font-family: sans-serif;
    margin: 0 auto;
    width: 900px;

    #main {
        form {
            margin-left: 20px;

            h2 {
                border-bottom: $border-style;
                padding-bottom: 5px;
            }

            section {
                padding-left: 10px;

                article {
                    display: inline-block;
                    margin: 0 30px;
                    vertical-align: top;
                }

                p {
                    display: inline-block;
                    width: 290px;

                    label {
                        margin: 0 5px;
                    }
                }
            }

            textarea {
                border: 1px solid #666666;
                height: 70px;
                width: 250px;
            }

            input[type="submit"] {
                display: block;
                margin: 20px auto 0;
            }
        }
    }

    footer {
        border-top: $border-style;
        margin: 20px 0;
        padding-top: 10px;
        text-align: center;
    }
}